## Introduction
All the data are scraped from various playlists in Vietnamese on Spotify. Please see the process [here]()

The playlists are:
* https://open.spotify.com/playlist/1aTfe08sYQNkfCNQHX91yn
* https://open.spotify.com/playlist/7ctIQ3akGLoBN82xYXejZT
* https://open.spotify.com/playlist/36aF4KcKVuo3gkp7t3K4xB
* https://open.spotify.com/playlist/2nQSQ7n5IagPDuWvU9CnKX
* https://open.spotify.com/playlist/6fwQQ7wXnJnjCAFmfk7MI1
* https://open.spotify.com/playlist/6luqC1Np20Z0Ps576JFNj8
* https://open.spotify.com/playlist/28LU0Rr3eQSAekGD8XgUYS
* https://open.spotify.com/playlist/0mrqaVOe6KYEEcaSYhVK4a
* https://open.spotify.com/playlist/0lxrQEsFzKaCWNlw2cjbNf
* https://open.spotify.com/playlist/3Rso58hNRq63GTIFTiHLW7
* https://open.spotify.com/playlist/2gkbbPRL9A3mxQU9dbPKqx
* https://open.spotify.com/playlist/37i9dQZF1DX34s4fg4Zx3Z
* https://open.spotify.com/playlist/2InfSOdVSdsEZYy9Kz9eHu
* https://open.spotify.com/playlist/6Cq01g1QSDzNyq97Ryh4l9
* https://open.spotify.com/playlist/4j9GfFCZaGh8xbzcFRhY0o
# 16. https://open.spotify.com/playlist/4pkof2WT0Spca1pX3j2dh4
# 17. https://open.spotify.com/playlist/3rIUD7NO8nAe91GE4AtqZN
# 18. https://open.spotify.com/playlist/2dm4foxI22LpTJBUed05PO
# 19. https://open.spotify.com/playlist/4to6jjsvMscVt8Ct3TkBHT

There will be 5 csv files that need to be merged to one dataset, including:
* **names.csv:** The names of the songs
* **artists.csv:** The artist(s) of the songs
* **popularity.csv:** The popularity of the songs
* **release_date.csv:** The release dates of the songs
* **features.csv:** The features of the songs

In [3]:
# import libraries
import pandas as pd
import re
import numpy as np
import json
from pandas.io.json import json_normalize

## Data Sources

In [45]:
# 1. https://open.spotify.com/playlist/1aTfe08sYQNkfCNQHX91yn
# 2. https://open.spotify.com/playlist/7ctIQ3akGLoBN82xYXejZT
# 3. https://open.spotify.com/playlist/36aF4KcKVuo3gkp7t3K4xB
# 4. https://open.spotify.com/playlist/2nQSQ7n5IagPDuWvU9CnKX
# 5. https://open.spotify.com/playlist/6fwQQ7wXnJnjCAFmfk7MI1
# 6. https://open.spotify.com/playlist/6luqC1Np20Z0Ps576JFNj8
# 7. https://open.spotify.com/playlist/28LU0Rr3eQSAekGD8XgUYS
# 8. https://open.spotify.com/playlist/0mrqaVOe6KYEEcaSYhVK4a
# 9. https://open.spotify.com/playlist/0lxrQEsFzKaCWNlw2cjbNf
# 10. https://open.spotify.com/playlist/3Rso58hNRq63GTIFTiHLW7
# 11. https://open.spotify.com/playlist/2gkbbPRL9A3mxQU9dbPKqx
# 12. https://open.spotify.com/playlist/37i9dQZF1DX34s4fg4Zx3Z
# 13. https://open.spotify.com/playlist/2InfSOdVSdsEZYy9Kz9eHu
# 14. https://open.spotify.com/playlist/6Cq01g1QSDzNyq97Ryh4l9
# 15. https://open.spotify.com/playlist/4j9GfFCZaGh8xbzcFRhY0o
# 16. https://open.spotify.com/playlist/4pkof2WT0Spca1pX3j2dh4
# 17. https://open.spotify.com/playlist/3rIUD7NO8nAe91GE4AtqZN
# 18. https://open.spotify.com/playlist/2dm4foxI22LpTJBUed05PO
# 19. https://open.spotify.com/playlist/4to6jjsvMscVt8Ct3TkBHT

### Load Dataframes

#### Song Names Dataframe

In [48]:
# create a dataframe from "names.csv" - holds names of the songs
song_names = pd.read_csv('data/vpop/names.csv')

In [49]:
# check the work
song_names

                               name
0                        Em Dạo Này
1       Đâu Cần Một Bài Ca Tình Yêu
2     Chờ Anh Nhé (feat. Hoang Rob)
3            trời giấu trời mang đi
4                               SAY
...                             ...
3617                    Phiến Phiến
3618                        Tửu Sầu
3619               Đừng Gọi Anh Dậy
3620        Em Rơi Từ Đâu Xuống Đây
3621                            2 5

[3622 rows x 1 columns]

#### Song Artists Dataframe

In [50]:
# create a dataframe from "artists.csv" - holds artists of the songs
song_artists = pd.read_csv('data/vpop/artists.csv')

In [51]:
# check the work
song_artists

         artists
0           Ngọt
1      Tien Tien
2     Hoang Dung
3           AMEE
4           Lena
...          ...
3617    Tùng TeA
3618      D Blue
3619     Phuc Du
3620    Dế Choắt
3621    ChiuLinh

[3622 rows x 1 columns]

#### Song Popularity Dataframe

In [52]:
# create a dataframe from "lyrics.csv" - holds lyrics of the songs
song_popularity = pd.read_csv('data/vpop/popularity.csv')

In [53]:
# check the work
song_popularity

      popularity
0             45
1             49
2             48
3             50
4             41
...          ...
3617          28
3618          24
3619          50
3620          28
3621          26

[3622 rows x 1 columns]

#### Song Dates Dataframe

In [54]:
# create a dataframe from "genres.txt" - holds genres of the songs
song_dates = pd.read_csv('data/vpop/release_date.csv')

In [55]:
# check the work
song_dates

     release_date
0      2017-09-23
1      2019-09-19
2      2018-11-09
3      2020-06-28
4      2020-05-08
...           ...
3617   2021-04-20
3618   2019-11-03
3619   2021-05-07
3620   2021-01-27
3621   2020-11-06

[3622 rows x 1 columns]

#### Song Features Dataframe

In [56]:
# read "features.csv" - holds features of the songs
song_features = pd.read_csv('data/vpop/features.csv')
song_features = song_features.reset_index() 
song_features = song_features.drop(columns=['index', 'type', 'id', 'uri', 'track_href', 'analysis_url', 'time_signature'])

In [57]:
# check the work
song_features

,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms
0,0.417,0.356,9,-8.747,1,0.0351,0.752,0.000000,0.1940,0.341,158.112,201828
1,0.524,0.663,11,-5.473,1,0.0729,0.692,0.000085,0.0824,0.568,93.381,195514
2,0.409,0.353,0,-7.286,1,0.0263,0.763,0.000000,0.1130,0.157,82.032,322499
3,0.438,0.408,3,-9.857,1,0.0705,0.688,0.000000,0.1210,0.373,92.053,253500
4,0.709,0.388,8,-6.058,1,0.3430,0.662,0.000000,0.0974,0.712,76.787,177039
...,...,...,...,...,...,...,...,...,...,...,...,...
3617,0.726,0.399,11,-14.925,1,0.1150,0.412,0.000568,0.0837,0.460,81.012,229630
3618,0.781,0.545,1,-10.784,0,0.4660,0.779,0.000000,0.1340,0.705,134.108,166209
3619,0.785,0.414,2,-13.698,1,0.0455,0.367,0.002480,0.1100,0.678,142.026,194366
3620,0.727,0.793,4,-6.786,1,0.2640,0.503,0.000897,0.3620,0.667,85.053,187018
3621,0.672,0.446,0,-14.522,1,0.0632,0.820,0.013900,0.0936,0.479,109.881,302823

### Merge Dataframes

In [58]:
# merge above dataframes
df = pd.merge(song_names, song_artists, how='inner', left_index=True, right_index=True)
df = df.join(song_popularity)
# df = df.join(song_dates)
df = df.join(song_features)

In [59]:
# remove rows 
df['name'] = df['name'].drop_duplicates()
df= df.dropna()
df = df.reset_index(drop=True)

In [60]:
# # covert dates to datetime
# df['dates'] = pd.to_datetime(df['dates'], errors='coerce')

# # extract year
# df['year'] = pd.to_datetime(df['dates']).dt.to_period('Y')

# # drop dates columns
# df = df.drop(columns='dates')

#### Data Codebook:
* names: Name of the song.
* artists: Artist(s) of the song.
* lyrics: Lyrics of the song.
* genres: Genre of the song.
* danceability: Danceability describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity. A value of 0.0 is least danceable and 1.0 is most danceable.
* energy: Energy is a measure from 0.0 to 1.0 and represents a perceptual measure of intensity and activity. Typically, energetic tracks feel fast, loud, and noisy.
* key: Key is the major or minor scale around which a piece of music revolves.
* loudness: The overall loudness of a track in decibels (dB). Loudness values are averaged across the entire track. Values typical range between -60 and 0 db. 
* mode: Mode indicates the modality (major or minor) of a track, the type of scale from which its melodic content is derived.
* speechiness: Speechiness detects the presence of spoken words in a track. The more exclusively speech-like the recording (e.g. talk show, audio book, poetry), the closer to 1.0 the attribute value.
* acousticness: A measure from 0.0 to 1.0 of whether the track is acoustic.
* instrumentalness: Predicts whether a track contains no vocals. The closer the instrumentalness value is to 1.0, the greater likelihood the track contains no vocal content.
* liveness: Detects the presence of an audience in the recording. Higher liveness values represent an increased probability that the track was performed live.
* valence: A measure from 0.0 to 1.0 describing the musical positiveness conveyed by a track. Tracks with high valence sound more positive (e.g. happy, cheerful, euphoric), while tracks with low valence sound more negative (e.g. sad, depressed, angry).
* tempo: The overall estimated tempo of a track in beats per minute (BPM). In musical terminology, tempo is the speed or pace of a given piece and derives directly from the average beat duration.
* duration_ms: Duration of the song in millisecond.

In [61]:
# check the work
print(df.shape)
df.head()

(2037, 15)

,name,artists,popularity,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms
0,Em Dạo Này,Ngọt,45,0.417,0.356,9,-8.747,1,0.0351,0.752,0.000000,0.1940,0.341,158.112,201828
1,Đâu Cần Một Bài Ca Tình Yêu,Tien Tien,49,0.524,0.663,11,-5.473,1,0.0729,0.692,0.000085,0.0824,0.568,93.381,195514
2,Chờ Anh Nhé (feat. Hoang Rob),Hoang Dung,48,0.409,0.353,0,-7.286,1,0.0263,0.763,0.000000,0.1130,0.157,82.032,322499
3,trời giấu trời mang đi,AMEE,50,0.438,0.408,3,-9.857,1,0.0705,0.688,0.000000,0.1210,0.373,92.053,253500
4,SAY,Lena,41,0.709,0.388,8,-6.058,1,0.3430,0.662,0.000000,0.0974,0.712,76.787,177039

Since the dataset is made from multiple playlists that created by Spotify's users. We should expect that some users also added songs that are not in Vietnamese by mistakes. However, we can remove some of them in the Exploratory Data Analysis.

### Export to CSV

In [62]:
# write to csv file
df.to_csv('data/vpop/vpop_songs.csv', index=False)